.centreText {
    text-align: center
}

body {
    background-color: coral;

}

img {
    height: 80%;
    width: 80%;
}
.background-image {
    background: url("images/background.png") no-repeat  fixed center;
    height: 900px
}

.background-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.top-left-grid {
    border: 2px;
    border-style: solid 
}

.parentDiv {
    border: 2px solid black;
    background-color: coral;
    width:fit-content; 
    display: inline-block; text-align: center;
    position:relative
    
}

.questionDiv {
    border: 2px solid black;
    background-color: rgb(172, 170, 185);
    min-width:200px; 
    width:auto;
    height:200px; 
    display: inline-block; text-align: center;
    margin: auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

form {
    text-align: left;
    padding: 5px;
}

.buttonClass {
    float: right ;
}